{
  "presets": [
    "es2015",
    "react",
    "env"
  ],
  "plugins": [
    "babel-plugin-transform-runtime",
    "react-html-attrs", 
    [
      "import",
      {
        "style": "css",
        "libraryName": "antd"
      },
      {
        "style": "css",
        "libraryName": "antd-mobile"
      }
    ],
    ["transform-class-properties", {
      "spec": true
    }]
  ]
}